.root {
	-fx-background-color: #ccffcc;
	-fx-font-family: "Verdana";
}

.button {
	-fx-background-color:#4CAF50;
	-fx-text-fill: white;
	-fx-background-radius: 0.5em;
}

.button:focused{
    -fx-background-color: #00ff00;
}
   